* {-webkit-overflow-scrolling: touch;}
html,body{
    height: 100%;
}
p{
    margin: 0;
    padding: 0;
}

.van-nav-bar .van-icon,
.van-nav-bar__text,
.van-nav-bar__title{
    color: #4c4c4c;
    font-size: 13px;
}
.container{
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}
.container-margin-top{
    padding-top: 46px;
    box-sizing: border-box;
}